<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acerca de Mí</title>
</head>
<body>

    <p><a href="{% url 'home' %}">Volver a la Página Principal</a></p>

    <h1>Acerca de Mí</h1>
    <p>
        ¡Hola! Mi nombre es Johann Ruiz Montalvo. Nacido y criado en las vibrantes tierras de Colombia,
        actualmente tengo 20 años y estoy sumergido en el mundo de las finanzas, estudiando en la
        prestigiosa Universidad EAFIT en Medellín.
    </p>
    <p>
        Desde joven, he tenido una pasión inquebrantable por el conocimiento, lo que me ha llevado a
        encontrar consuelo y aventura en las páginas de los libros. Cada libro es una puerta a un mundo
        desconocido, y cada experiencia aprendida a través de ellos es un tesoro que guardo con celo.
    </p>
    <p>
        Cuando no estoy explorando las complejidades de las finanzas, me encontrarás disfrutando de una
        variedad de hobbies que enriquecen mi vida. Desde escalar las montañas que rodean mi ciudad hasta
        sumergirme en la fotografía, cada actividad es una oportunidad para aprender algo nuevo y crecer
        como persona.
    </p>
    <p>
        Mi blog es un reflejo de mi vida, una colección de pensamientos, aprendizajes y aventuras que
        deseo compartir contigo. Espero que encuentres aquí algo que resuene contigo, algo que te inspire
        o te enseñe algo nuevo.
    </p>
    <p>Bienvenido.</p>
</body>
</html>