<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <style>
        .small-image {
            width: 150px; 
            height: auto;
        }
        
    </style>
</head>
<body>
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}
        <h2>{{ page.subtitle }}</h2>
    {% endif %}
    <p>Por: {{ page.author }}</p>
    <p>Publicado el: {{ page.post_date }}</p>
    {% if page.image %}
        <img src="{{ page.image.url }}" alt="Imagen de {{ page.title }}" class="small-image">
    {% endif %}
    <div>{{ page.content | safe }}</div>
</body>
</html>